[Unit]
Description=Turn display on

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'ddcutil setvcp d6 1 2>/dev/null || true'
# Ensure piframe is running
ExecStartPost=/bin/systemctl start piframe-qt
